T6PXGV_0928/UM_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT t6pxgv_orarend (ora)>
	<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
		<!ATTLIST ora 
			id CDATA #Required
			tipus CDATA #Required
		>
			<!ELEMENT targy (#PCDATA)>
			<!ELEMENT idopont (nap,tol,ig)>
				<!ELEMENT nap (#PCDATA)>
				<!ELEMENT tol (#PCDATA)>
				<!ELEMENT ig (#PCDATA)>
			<!ELEMENT helyszin (#PCDATA)>
			<!ELEMENT oktato (#PCDATA)>
			<!ELEMENT szak (#PCDATA)>